* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
}
body {
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #424242;
}
.login-signup img {
    width: 30px;
    display: absolute;
    margin-right: 0px;
}
.login-signup a .count{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -15px;
    margin-top: -20px;
    font-size: 13px;
    width: 24px;
    height: 24px;


}
header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #111111;
    overflow: hidden;
}
header .header-left {
    display: flex;
    align-items: center;
    margin: auto;
}
.logo img {
    width: 50px;
    padding-top: 5px;
    margin: auto;
    margin-left: 200px;
    margin-right: -40px;
    display: flex;
    align-items: left;
}
header .header-left nav {
    margin-left: 400px;
    margin-right: 250px;
}
header .header-left nav ul {
    display: flex;
    margin-left: 0px;
    margin-right: -40px;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .header-right .hamburger {
    margin-left: 0px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
@media (max-width: 1290px) {
    body {
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .logo img {
        width: 40px;
        padding-top: 0px;
        margin: auto;
        display: flex;
    }
    header {
        width: 100%;
        padding: 0 20px;
        display: flex;
        overflow: hidden;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #202020;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
        width: 100%;
    }
    header .header-left nav ul {
        display: block;
        width: 100%;
    }
    header .header-left nav li {
        height: 40px;
    }
}

@media (max-width: 200px) {
    body {
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    header {
        padding: 0 20px;
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .logo img {
        width: 25%;
        padding-top: 40px;
        margin-left: 70px;
    }
    header .header-right .hamburger {
        display: absolute;
        margin-right: 30px;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #202020;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
        width: 100%;
    }
    header .header-left nav ul {
        display: block;
    }
    header .header-left .logo {
        height: 100px;
        margin-left: 30px;
    }
}
@media (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
}